body {
  margin: 0;
  font-family: Open Sans;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fada63;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fada63;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fada63;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fada63;
}
svg:not(:root) {
    overflow: hidden;
    vertical-align: middle;
}

.hidden { visibility: hidden; }
.overflow { overflow: hidden; }
.relative { position: relative; }
.vertical:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.vertical.everything * {
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
.row {
  max-width: 90rem !important;
}

.overflow:hover > img {
  transform: scale(1.3);
  image-rendering: pixelated;
}

img { transition: .2s all ease-out; }
.textCenter { text-align: center; }

a.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#header {
  background: rgb(18,68,37);
  height: 40px;
  color: #ced54a;
}
#header .container {
  height: 40px;
  float: right;
  margin-right: 10px;
}
#header .list {
  margin: 0;
  list-style: none;
  display: inline-block;
}
#header .list li {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  font-family: Open Sans;
  text-transform: uppercase;
}
#header .list i {
  margin-right: 5px;
}
#menu {
  background: rgba(111, 44, 62, 0.95);
  position: absolute;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 16px 0 20px 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
}
.menu_clickable {
  color: #FADA63;
  font-size: 60px;
  font-weight: 200;
  cursor: pointer;
  font-family: Neue Helvetica;
  transition: .1s all ease-out;
}
.menu_clickable.active {
  color: #FFF !important;
}
.label {
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
}
#menu a {
  display: block;
  color: #FADA63;
}
#menu.scrolling {
  top: 0;
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  padding-top: 120px;
}
.subtext {
  font-family: Sorts Mill Goudy;
  color: #a99340 !important;
  font-style: italic;
  pointer-events: none;
}
.menu_content {
  margin-bottom: 20px;
}
#menu.activeMenu .menu_clickable {
  font-size: 48px;
}

#header2 {
  height: 152px;
  background: #184f2c;
  padding: 0 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 999999;
}
#header2 img,
#header2 svg {
  height: 93px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}
#header2 .container {
  float: right;
  height: 100%;
}
#header2 .smallContainer {
  display: inline-block;
  vertical-align: middle;
  color: #fada63;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 21px;
  width: 368px;
}
#header2 div.gsc-clear-button {
  display: none;
}
#header2 .navMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: right;
}
#header2 .navMenu li {
  display: inline-block;
  margin-left: 25px;
}
#header2 .navMenu1 {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}
#header2 .navMenu li:first-child {
  margin-left: 0px;
}
#header2 .gsc-input input {
  height: 59px;
  margin: 0;
  background: transparent !important;
  border: none;
  width: 100%;
  padding: 5px 20px 0;
  font-family: Sorts Mill Goudy;
  font-style: italic;
  outline: none;
}
#header2 .gsc-search-box {
  padding: 0;
}
#header2 input.gsc-search-button {
  height: 59px;
  width: 59px !important;
  margin: 0;
  background: #0c341a !important;
  color: #0c341a !important;
  width: 100%;
  padding: 5px 20px 0;
  font-family: Sorts Mill Goudy;
  font-style: italic;
  outline: none;
  border: none;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
}
#header2 .gsc-input {
  padding-right: 0;
}
#header2 .gsc-clear-button {
  display: none;
}
#header2 .gsc-search-box tr {
  border: 1px solid #487659;
}
#header2 table.gsc-search-box {
  margin-bottom: 16px;
}
#header2 .menu {
  color: #fff;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
#header2 td.gsc-search-button {
  position: relative;
}
#header2 td.gsc-search-button::before {
  content: "\f002";
  display: block;
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  top: 0;
  width: 20px;
  font-size: 20px;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  margin-top: -15px;
  pointer-events: none;
}

#small_header {
  position: fixed;
  top: -200px;
  height: 84px;
  width: 100%;
  background: #184f2c;
  z-index: 9999999999;
  padding: 0 20px;
}
#small_header .menu {
  margin-left: 10px;
}
#small_header.scrolling {
  top: 0;
}
#small_header .right {
  float: right;
  height: 100%;
  font-size: 19px;
  color: #fff;
  font-weight: 700;
}
#small_header .right a {
  cursor: pointer;
}
#small_header .left_options {
  display: inline-block;
  margin-right: 60px;
  color: #fada63;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 19px;
}
#small_header .left_options a {
  margin-right: 21px;
}
#small_header img {
  margin-top: -9px;
}
#small_header svg.small_logo {
  height: 72px;
  margin-top: 16px;
}

#first {
  height: 70vh;
  width: 100%;
/*  background-image: url(../img/img0-0.png);
  background-size: cover;
  background-position: center center; */
  min-height: 400px;
}
#first .textContainer {
  position: absolute;
  bottom: 8%;
}
#first .text {
  background: rgba(255,255,255,.9);
  font-size: 90px;
  font-size: 9vh;
  display: inline-block;
  line-height: 1.3;
  padding: 0 20px;
  font-family: Neue Helvetica Condensed;
  font-weight: 200;
}
#first .major {
  color: #ced54a;
  font-weight: 300;
}
#first img {
  width: 100%;
}

#second {
  margin: 28px auto 25px;
}
#second .lineContainer {
  position: relative;
  text-align: center;
  margin-bottom: 28px;
}
#second .line {
  border-top: 1px solid rgba(24, 79, 44, 0.23);
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
}
#second .content {
  background: #fff;
  position: relative;
  padding: 0 20px;
}
#second .content button {
    border: 1px solid #184f2c;
    padding: 17px 50px;
}
#second .request {
  background: #184f2c;
  color: #fff;
  margin-right: 12px;
}
#second .visit {
  color: #184f2c;
}
#second .overflow {
  cursor: pointer;
  position: relative;
  text-align: center;
}
#second .text {
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 24px;
  font-family: Neue Helvetica Condensed;
  font-weight: 400;
  border: 1px solid #fff;
  display: inline-block;
  height: 40px;
  padding: 0 25px 13px;
  position: absolute;
  transform: translate(-50%, -50%);
  line-height: 40px;
  white-space: nowrap;
}
#second .lineContainer button {
  border-radius: 0px;
  font-family: Neue Helvetica Condensed;
  font-weight: bold;
  font-size: 24px;
  transition: all 200ms ease-out;
}
  #second .lineContainer button:hover {
    color: #fff;
    border-color: #6F2C3E;
    background-color: #6F2C3E;
  }

#third {
  margin: 70px auto 95px;
  text-align: center;
  font-size: 20px;
}
#third .text {
  color: #225736;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  font-size: 30px;
}
#third .verse {
  font-weight: bold;
  color: #333;
  font-family: Neue Helvetica Condensed;
  font-size: 24px;
}

#fourth {
  text-align: center;
  background: #184f2c;
  padding: 50px 0;
  position: relative;
}
#fourth .section {
  position: relative;
}
#fourth .section.border::before {
  content: '';
  display: inline-block;
  height: 150px;
  position: absolute;
  width: 2px;
  background: rgba(72, 118, 89, 0.52);
  right: -1px;
}
#fourth .section:last-child {
  border-right: none;
}
#fourth .top {
  color: #ced54a;
  font-size: 50px;
  border-bottom: 2px solid #ced54a;
  margin-bottom: 20px;
  font-family: Neue Helvetica Condensed;
  font-weight: 700;
  display: inline-block;
}
#fourth .bottom {
  color: #fff;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  font-size: 23px;
  line-height: 1.3;
}
#fourth::before {
  content: '';
  width: 30px;
  height: 30px;
  background: #fff;
  transform: rotate(45deg);
  top: -15px;
  margin-left: -15px;
  display: inline-block;
  position: absolute;
}

#fifth {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding: 150px 0 500px;
  background-position-x: 60% !important;
  background-position-y: 50% !important;
}
#fifth .content {
  padding: 0;
}
#fifth .undergrad {
  background: rgb(255,136,73);
}
#fifth .grad {
  background: rgb(2,82,147);
}
#fifth .leftContainer {
  color: #fff;
  padding-left:0;
  text-align: right;
  position: relative;
}
#fifth .leftContainer .undergrad, #fifth .leftContainer .grad {
  padding: 13px 40px 13px 0;
  font-size: 25px;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  margin-bottom: 17px;
  cursor: pointer;
  margin-left: -3000px;
}
#fifth .leftContainer span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  transform: rotate(45deg);
  margin-left: 20px;
  position: relative;
  top: 5px;
}
#fifth .leftContainer a{
  position: relative;
  transition: all 200ms ease-out;
  left: 0;
}
  #fifth .leftContainer a:hover {
    left: 20px;
  }
#fifth .leftContainer span::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  top: -8px;
  left: -7px;
  border-top: 6px solid #FFF;
  border-right: 6px solid #FFF;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
#fifth .rightContainer {
  text-align: right;
}
#fifth .text {
  background: #fff;
  font-size: 72px;
  display: inline-block;
  line-height: 1.3;
  padding: 0 24px;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  position: relative;
  text-align: center;
  width: 100%;
}
#fifth .major {
  color: #ced54a;
  font-weight: 500;
  white-space: nowrap;
}
#fifth .desc {
  font-family: Sorts Mill Goudy;
  text-align: left;
  display: inline-block;
  font-size: 24px;
  padding: 22px 22px 0;
}
#fifth .arrowDown::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  left: 75%;
  transform: rotate(45deg);
  bottom: -10px;
}

#sixth {
  background: rgb(0,80,149);
  padding: 100px 0  200px;
  position: relative;
  transition: .6s all ease-out;
  left: 0;
}
#sixth.open {
  left: -100%;
}
#sixth .rotate img {
  transform: rotate(45deg);
  margin: 1%;
  width: 38%;
}
#sixth .rotate {
  transform: rotate(-45deg);
  position: relative;
  left: 5%;
  z-index: 0;
}
#sixth .text {
  color: #fff;
  font-size: 64px;
  display: inline-block;
  line-height: 1.3;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  position: relative;
  width: 100%;
}
#sixth .small {
  color: #ced54a;
  font-weight: bold;
  margin-top: 50px;
  cursor: pointer;
  display: block;
  text-align: right;
  transition: all 200ms ease-out;
}
#sixth .small:hover {
  transform: translateX(20px);
}
#sixth .major {
  color: #ced54a;
  font-weight: 500;
}
#sixth .words {
  font-family: Sorts Mill Goudy;
  color: #fff;
  font-size: 24px;
  margin-top: 25px;
}
#sixth .container {
  position: relative;
  z-index: 1;
  margin-top: 8%;
}
#sixth .small span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ced54a;
  transform: rotate(45deg);
  margin-left: 20px;
  position: relative;
  top: 0px;
}
#sixth .small span::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  top: 0px;
  left: -6px;
  border-top: 6px solid #ced54a;
  border-right: 6px solid #ced54a;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
ng-map .close {
  direction: ltr;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Roboto, Arial, sans-serif;
  -webkit-user-select: none;
  font-size: 11px;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  min-width: 40px;
  position: absolute;
  z-index: 99999;
  right: 20px;
  top: 20px;
  border-radius: 2px;
  cursor: pointer;
}
sixth-section ng-map {
  position: absolute;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 100%;
  transition: .6s all ease-out;
}
sixth-section ng-map.open {
  left: 0%;
}

#seventh {
  margin-bottom: 120px;
}
#seventh img {
  max-width: none;
  width: 100%;
}
#seventh .container {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
#seventh .text {
  background: #fff;
  font-size: 64px;
  display: inline-block;
  line-height: 1.3;
  padding: 9px 37px 0;
  font-family: Neue Helvetica Condensed;
  font-weight: 300;
  position: absolute;
  width: 420px;
  text-align: center;
  left: 50%;
  margin-left: -210px;
  height: 70px;
  margin-top: -47px;
}
#seventh .major {
  color: #ced54a;
  font-weight: 500;
}
#seventh .spacing {
  height: 90px;
}
#seventh .learnHolder {
  padding: 0 10px 0 10px;
}
#seventh .expand {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-family: Open Sans;
  font-weight: 600;
  left: 0;
  right: 0;
  text-align: center;
  height: 16.5%;
  transition: .2s all ease-out;
  font-size: 20px;
}
#seventh .expandDesc {
  text-align: left;
  font-size: 14px;
  padding: 20px;
  font-weight: normal;
}
#seventh .expandDesc a {
  color: #333;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
#seventh .expandDesc div {
  color: #333;
  margin-top: 30px;
  text-align: center;
}
#seventh .container:hover > .expand {
  height: 100%;
  padding-top: 20px;
  font-weight: bold;
}
#seventh .container:hover > .expand::before {
  height: 0%;
}
#seventh .expand::before {
  transition: .2s all ease-out;
}
#eighth {
  padding: 0 0 160px;
}
#eighth .text {
  font-weight: 700;
  font-size: 24px;
  font-family: Open Sans;
  border-bottom: 3px solid rgb(197,205,2);
  padding: 0 0 25px;
  margin-bottom: 25px;
}
#eighth .left {
  text-align: center;
  font-weight: 700;
  width: 34%;
  font-family: Open Sans;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
}
#eighth .dayOfWeek {
  background: #184f2c;
  color: #fff;
  padding: 11px;
  font-size: 14px;
  font-weight: 700;
}
#eighth .date {
  color: #333;
  background: rgb(227,230,150);
  padding: 11px;
}
#eighth .right {
  display: inline-block;
  width: 66%;
  float: left;
  font-family: Open Sans;
  padding: 2px 0 0 30px;
}
#eighth .title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #7d7d7d;
}
#eighth .time {
    font-size: 14px;
    margin-top: 6px;
    font-weight: 600;
}
#eighth .diamond {
  right: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  border: 1px solid rgba(157, 157, 157, 0.62);
  transform: rotate(45deg);
  margin-right: -50px;
  z-index: -1;
  top: 19%;
}
#eighth .view-events {
  float: right;
  text-transform: uppercase;
  color: #184F2C;
  font-weight: 700;
  font-size: 14px;
  transition: all 200ms ease-out;
  margin-top: 20px;
}
#eighth .view-events:hover {
  transform: translateX(10px);
}
#eighth .view-events span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #ced54a;
  transform: rotate(45deg);
  margin-left: 20px;
  position: relative;
  top: 0px;
}
#eighth .view-events span::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  top: 0px;
  left: 6px;
  border-top: 6px solid #ced54a;
  border-right: 6px solid #ced54a;
  border-left: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
#ninth {
  background: rgb(248,247,240);
  padding: 100px 0;
}
#ninth .container {
  font-family: Sorts Mill Goudy;
  text-align: center;
}
#ninth .text {
  font-size: 35px;
  font-style: italic;
}
#ninth .desc {
  font-size: 20px;
  margin-top: 10px;
  line-height: 1.8;
  font-weight: 100;
}
#ninth .apply {
  display: block;
  color: rgb(148,12,41);
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  background: #fff;
  padding: 30px 0;
  border: 1px solid rgb(190,190,188);
  line-height: 1.3;
  font-family: Neue Helvetica;
  margin-top: 20px;
  cursor: pointer;
  transition: all 200ms ease-out;
}
  #ninth .apply:hover {
    background-color: #184F2C;
    border-color: #184F2C;
    color: #fff;
  }
#ninth .invBox {
  border: 1px solid rgb(228,229,224);
  height: 71%;
  position: absolute;
  width: 63%;
  top: 14%;
  left: 9%;
  transform: rotate(45deg);
}
#ninth .column {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
}
#ninth .row {
  height: 301px;
}

#footer {
/*  background: rgba(24, 79, 44, 0.90); */
  padding: 40px 0;
  position: relative;
}
#footer .title {
  font-size: 22px;
  color: rgb(218,221,150);
  margin-bottom: 15px;
}
#footer .menu {
  margin-top: 70px;
}
#footer .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .social {
  margin-top: 20px;
}
#footer .social i {
  font-size: 24px;
  color: #dadd96;
  margin-right: 15px;
  cursor: pointer;
}
#footer .menu li {
    color: rgb(236,212,108);
}
#footer .menu .column {
  border-right: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 20px;
  margin-bottom: 55px;
  height: 170px;
}
#footer .menu .column:nth-child(3) {
  border-right: none;
  margin-right: 0;
}
#footer .column.row.smallRow {
    margin-top: 10px;
}
#footer .column.row.smallRow ul {
    list-style: none;
    padding: 0;
    display: block;
    text-align: center;
}
#footer .column.row.smallRow li {
    display: inline-block;
    font-size: 12px;
    color: #dadd96;
    margin-right: 15px;
}
#footer .column.row.smallRow .copyright {
    color: #9ABBA6;
}
#footer .column.small-12.medium-2.end {
    margin-bottom: 10px !important;
}
#footer ng-map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto !important;
  left: 0;
}
#footer .above {
  z-index: 1;
  position: relative;
  pointer-events: none;
}
#footer .above a {
  pointer-events: all;
}
#footer .directionLink {
    color: blue;
    display: block;
    text-align: center;
    text-decoration: underline;
}

@media screen and (min-width: 40em) and (max-width: 50em) {
  #header2 .smallContainer, #small_header .left_options {
    display: none;
  }
  #fifth .major {
    display: block;
  }
  #header2 .navMenu1 {
    display: inline-block !important;
  }
  #header2 img,
  #header2 svg {
    max-height: 70px;
  }
}

/* small screen */

@media screen and (max-width: 40em) {
  .border::before { width: 0 !important; }
  .menu_content .column {
    padding: 0;
}
  #fourth .section { margin-bottom: 50px; }
  #header2 {
    height: 120px;
  }
  #header2 img,
  #header2 svg {
    max-height: 70px;
    margin-left: -50px;
  }
  #menu {
    top: 0px !important;
    padding-top: 140px;
  }
  #menu .menu_clickable {
    font-size: 28px;
  }
  #first .text { font-size: 52px !important; }
  #second .overflow {
    width: 70%;
    margin: 0 auto 15px;
  }
  #second .content button {
    padding: 17px 25px;
    width: 290px;
    display: block;
  }
  #second .request {
    margin-right: 0px !important;
  }
  #second .visit {
    margin-top: 10px;
  }
  #fifth {
    padding: 75px 0 500px;
  }
  #fifth .leftContainer {
    margin-bottom: 65px;
  }
  #fifth .rightContainer {
    text-align: center !important;
  }
  #seventh .text {
    font-size: 51px;
    width: 90%;
    margin: 0 auto;
    margin-left: auto;
    margin-top: auto;
    left: auto;
  }
  #ninth img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  #ninth .row {
    height: auto !important;
  }
  #ninth .container {
    margin: 40px 0 0;
  }
  #ninth .apply {
    width: 50%;
    margin: 40px auto 0 ;
  }
  #ninth .invBox {
    width: 33% !important;
    left: 29% !important;
  }
  #eighth .left {
    width: 21% !important;
    margin-bottom: 27px !important;
  }
  #eighth .diamond {
    display: none;
  }
  #footer .menu {
    text-align: center;
  }
  #footer .menu .column {
    border-right : none;
  }
  #footer .center {
    text-align: center;
  }
  ng-map .close.open {
    position: fixed;
    top: 102px;
  }
  .hideIt {
    display: none !important;
  }
}
