<div id="fifth" class="relative" ng-attr-style="background: url('{{app.baseImgFolder}}{{app.fifthSection[0]}}')">
  <div class="column row content small-up-1 medium-up-2">
    <div class="column leftContainer">
      <div class="undergrad hidden" when-visible="app.showElementLeft">UNDERGRADUATE DEGREES <span></span></div>
      <div class="grad hidden" when-visible="app.showElementLeft">GRADUATE DEGREES <span></span></div>
    </div>
    <div class="column rightContainer hidden" when-visible="app.showElementUp">
      <div class="text arrowDown">
        YOUR SIZE <span class="major">FITS YOU</span>
      </div>
      <div class="desc">
        At Southern, you'll spend time researching not only cutting-edge academic topics, but also who God wants you to be. There's no &ldquo;one size fits all&rdquo; college experience at Southern.
      </div>
    </div>
  </div>
</div>
