<div id="footer">
  <div class="column row">
    <div class="row">
      <div class="column small-12 medium-4 center">
        <img src="img/logo.png"/>
      </div>
      <div class="column small-2 end hide-for-small-only" style="opacity:0;">.</div>
      <div class="column small-3 end hide-for-small-only">
        <img src="img/best.png"/>
      </div>
    </div>
  </div>

  <div class="column row menu">
    <div class="column small-12 medium-3">
      <div class="title">See for Yourself</div>
      <ul>
        <li><a href="http://www.southern.edu/visit">Plan a Visit</a></li>
        <li><a href="http://www.southern.edu/virtualtour/Documents/tour.html">Virtual Tour</a></li>
        <li><a href="http://www.southern.edu/undergrad/webcam">Campus Webcams</a></li>
      </ul>
    </div>
    <div class="column small-12 medium-3">
      <div class="title">Connect</a></div>
      <ul>
        <li><a href="http://www.southern.edu/Pages/webstreaming.aspx">Live Streaming</a></li>
        <li><a href="http://www.southern.edu/connect/mobileapps.html">Mobile Apps</a></li>
        <li><a href="http://www.southern.edu/blogs">University Blogs</a></li>
        <li><a href="http://www.wsmc.org/">WSMC Classical 90.5</a></li>
        <li><a href="http://www.southern.edu/administration/marketing/columns/index.html">Columns Magazine</a></li>
      </ul>
    </div>
    <div class="column small-12 medium-3 end">
      <div class="title">Contact</div>
      <ul>
        <li><a href="http://www.southern.edu/contact.html">Mailing Address</a></li>
        <li><a href="https://myaccess.southern.edu/apps/Campusdirectory/departments.aspx">Directory</a></li>
        <li><a href="http://www.southern.edu/contact.html">Get Questions Answered</a></li>
      </ul>
    </div>
  </div>
  <div class="map">
    <ng-map center="[35.0479493, -85.052825]" zoom="15">
      <custom-marker centered position="[35.0479493, -85.052825]">
        <img src="img/marker.png"/>
      </custom-marker>
    </ng-map>
  </div>
</div>
