<div id="footer">
  <div class="column row">
    <div class="row">
      <div class="column small-12 medium-4">
        <img src="img/logo.png"/>
      </div>
      <div class="column small-3 end hide-for-small-only" style="opacity:0;">.</div>
      <div class="column small-2 end hide-for-small-only">
        <img src="img/best.png"/>
      </div>
    </div>
  </div>

  <div class="column row menu">
    <div class="column small-12 medium-4">
      <div class="title">See for Yourself</div>
      <ul>
        <li><a href="">Plan a Visit</a></li>
        <li><a href="">Virtual Tour</a></li>
        <li><a href="">Campus Webcams</a></li>
      </ul>
    </div>
    <div class="column small-12 medium-3">
      <div class="title">Connect</a></div>
      <ul>
        <li><a href="">Live Streaming</a></li>
        <li><a href="">Mobile Apps</a></li>
        <li><a href="">University Blogs</a></li>
        <li><a href="">WSMC Classical 90.5</a></li>
        <li><a href="">Columns Magazine</a></li>
      </ul>
    </div>
    <div class="column small-12 medium-3 end">
      <div class="title">Contact</div>
      <ul>
        <li><a href="">Mailing Address</a></li>
        <li><a href="">Directory</a></li>
        <li><a href="">Get Questions Answered</a></li>
      </ul>
    </div>
  </div>
  <div class="map">
    <ng-map center="[35.0479493, -85.052825]" zoom="15">
      <custom-marker centered position="[35.0479493, -85.052825]">
        <img src="img/marker.png"/>
      </custom-marker>
    </ng-map>
  </div>
</div>
