<div id="header">
  <div class="container vertical">
    <ul class="list">
      <li ng-repeat="i in app.headerText">{{i}}</li>
    </ul>
  </div>
</div>

<div id="header2" class="vertical">
  <img src="img/logo.png"/>
  <div class="container vertical">
    <div class="smallContainer hide-for-small-only">
      <input type="text" placeholder="Search"/>
      <ul class="navMenu">
        <li><a href="http://www.southern.edu/apply">APPLY</a></li>
        <li><a href="http://www.southern.edu/visit">VISIT</a></li>
        <li><a href="http://www.southern.edu/degrees">DEGREES</a></li>
        <li class="menu" ng-click="toggleMenu();" ng-if="!isMenuOpen">MENU</li>
        <li class="menu" ng-click="toggleMenu();" ng-if="isMenuOpen">CLOSE MENU</li>
      </ul>
    </div>
  </div>
</div>

<!-- menu -->

<div id="menu" ng-if="isMenuOpen" ng-init="isOpen = -1">

  <div class="menu_container">
    <div class="menu_clickable" ng-click="isOpen = 0;" ng-class="{ active : isOpen == 0 }">ACADEMICS</div>
    <div class="menu_content" ng-if="isOpen == 0">
      <div class="row column" style="margin: 0;max-width: none;">
        <div class="column small-12 medium-3">

          <div class="label">Degrees</div>
          <a href="http://www.southern.edu/undergrad/academics/academic-majors.html">Undergraduate Degrees</a>
          <a class="subtext">Just out of high school?</a>
          <a href="http://www.southern.edu/graduatestudies">Graduate Degrees</a>
          <a class="subtext">Already have your bachelor's degree?</a>
          <a href="http://catalog.e.southern.edu/">Catalog</a>
          <a href="https://myaccess.southern.edu/apps/courseschedule/Default.aspx">Course Schedule</a>

          <div class="label">Learning Programs</div>
          <a href="http://www.southern.edu/online">Online Campus</a>
          <a href="http://www.southern.edu/southernscholars">Southern Scholars</a>
          <a href="http://www.southern.edu/undergrad/academics/study-abroad.html">Study Abroad</a>

        </div>
        <div class="column small-12 medium-3">
          <div class="label">Schools and Departments</div>
          <a href="http://www.southern.edu/academics/alliedhealth.html">Allied Health</a>
          <a href="http://www.southern.edu/academics/biology.html">Biology</a>
          <a href="http://www.southern.edu/academics/business.html">Business</a>
          <a href="http://www.southern.edu/academics/chemistry.html">Chemistry</a>
          <a href="http://www.southern.edu/academics/computing.html">Computing</a>
          <a href="http://www.southern.edu/academics/edpsych.html">Education and Pyschology</a>
          <a href="http://www.southern.edu/academics/english.html">English</a>
          <a href="http://www.southern.edu/academics/history.html">History and Political Studies</a>
          <a href="http://www.southern.edu/academics/journalism.html">Journalism and Communication</a>
          <a href="http://www.southern.edu/academics/mathematics.html">Mathematics</a>
        </div>
        <div class="column small-12 medium-3">
          <div class="label" style="margin-top:60px;"></div>
          <a href="http://www.southern.edu/academics/modernlanguages.html">Modern Languages</a>
          <a href="http://www.southern.edu/academics/music.html">Music</a>
          <a href="http://www.southern.edu/academics/nursing.html">Nursing</a>
          <a href="http://www.southern.edu/academics/pehw.html">P.E., Health and Wellness</a>
          <a href="http://www.southern.edu/academics/physics.html">Physics and Engineering</a>
          <a href="http://www.southern.edu/academics/religion.html">Religion</a>
          <a href="http://www.southern.edu/academics/socialwork.html">Social Work</a>
          <a href="http://www.southern.edu/academics/technology.html">Technology</a>
          <a href="http://www.southern.edu/academics/visualartanddesign.html">Visual Art and Design</a>
        </div>
        <div class="column small-12 medium-3">
          <div class="label">Resources</div>
          <a href="http://www.southern.edu/careers">Deciding Your Major</a>
          <a href="http://www.southern.edu/records">Records and Advisement</a>
          <a href="http://www.southern.edu/disabilitysupport">Disability Support</a>
          <a href="http://www.southern.edu/learningsupport">Learning Support</a>
          <a href="http://www.southern.edu/library">McKee Library</a>
          <a href="http://www.southern.edu/administration/academic-administration/index.html">Academic Administration</a>

          <div class="label">Registration</div>
          <a href="http://www.southern.edu/register">Register for Classes</a>
          <a href="https://myaccess.southern.edu/pages/webadvisor.aspx?title=Registration+Eligibility&TYPE=P&PID=ST-WXSTS03.S67">Registration Eligibility</a>
          <a href="https://myaccess.southern.edu/pages/webadvisor.aspx?title=Program+Evaluation&TYPE=P&PID=ST-WBSTS10">Degree Audit</a>
          <a href="https://myaccess.southern.edu/apps/BookList/">Book List</a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu_container">
    <div class="menu_clickable" ng-click="isOpen = 1;" ng-class="{ active : isOpen == 1 }">ADMISSIONS</div>
    <div class="menu_content" ng-if="isOpen == 1">
      <div class="row column" style="margin: 0;max-width: none;">
        <div class="column small-12 medium-4">
          <div class="label">Undergraduate</div>
          <a href="http://www.southern.edu/undergrad/admissions/general-admissions.html">Admission Requirements</a>
          <a href="https://apply.southern.edu/Datatel.ERecruiting.Web.External/Pages/Welcome.aspx">Apply Now</a>
          <a href="http://www.southern.edu/undergrad/finances/tuition.html">Tuition and Expenses</a>
          <a href="http://www.southern.edu/undergrad/see-for-yourself/schedule-a-visit.html">Visit Us</a>
          <a href="http://www.southern.edu/undergrad/academics/academic-majors.html">Degrees and Programs</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Graduate</div>
          <a href="http://www.southern.edu/graduatestudies/graduate-find-an-answer.html">Admission Requirements</a>
          <a href="https://applyweb.collegenet.com/account/new/create?origin=https%3A%2F%2Fwww.applyweb.com%2Fcgi-bin%2Fapplymenu%3Finstcode%3Dsaug">Apply Now</a>
          <a href="http://www.southern.edu/graduatestudies/graduate-finances.html">Tuition and Expenses</a>
          <a href="http://www.southern.edu/graduatestudies/grad-visit.html">Visit Us</a>
          <a href="http://www.southern.edu/graduatestudies">Degrees and Programs</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Finances and Scholarships</div>
          <a href="http://www.southern.edu/undergrad/finances/tuition-and-assistance.html">Applying for Financial Aid</a>
          <a href="http://www.southern.edu/undergrad/finances/grants-and-scholarships.html">Scholarships and Grants</a>
          <a href="http://www.southern.edu/undergrad/finances/about-our-loans.html">Student Loans</a>
          <a href="http://www.southern.edu/undergrad/finances/verification-forms.html">Financial Aid Forms</a>
          <a href="http://www.southern.edu/undergrad/index.html#contact">Contact Student Finance</a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu_container">
    <div class="menu_clickable" ng-click="isOpen = 2;" ng-class="{ active : isOpen == 2 }">CAMPUS LIFE</div>
    <div class="menu_content" ng-if="isOpen == 2">
      <div class="row column" style="margin: 0;max-width: none;">
        <div class="column small-12 medium-3">
          <div class="label">Living on Campus</div>
          <a href="http://www.southern.edu/talge">Talge Hall</a>
          <a href="http://www.southern.edu/thatcher">Thatcher Hall</a>
          <a href="http://www.southern.edu/housing">Other Housing</a>
          <a href="http://www.southern.edu/food">Food Services</a>
        </div>

        <div class="column small-12 medium-3">
          <div class="label">Worshipping on Campus</div>
          <a href="http://www.southern.edu/administration/chaplain/">Chaplain's Office</a>
          <a href="http://www.southern.edu/administration/chaplain/ministries/lifegroup.html">LifeGroups</a>
          <a href="http://www.southern.edu/undergrad/campus-life/spiritual-life.html">Area Churches</a>
          <a href="http://www.southern.edu/streaming.html">Watch Worship Services</a>
        </div>

        <div class="column small-12 medium-3">
          <div class="label">Growing on Campus</div>
          <a href="http://www.southern.edu/activities">Student Groups</a>
          <a href="http://www.southern.edu/intramurals">Intramurals</a>
          <a href="http://www.southern.edu/undergrad/campus-life/performance-groups.html">Performing Groups</a>
          <a href="http://www.southern.edu/undergrad/campus-life/recreation.html">Area Recreation</a>
        </div>

        <div class="column small-12 medium-3">
          <div class="label">More about Campus</div>
          <a href="http://www.southern.edu/calendar/">Event Calendar</a>
          <a href="http://www.southern.edu/virtualtour/Documents/tour.html">Virtual Tour</a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu_container">
    <div class="menu_clickable" ng-click="isOpen = 3;" ng-class="{ active : isOpen == 3 }">ABOUT SOUTHERN</div>
    <div class="menu_content" ng-if="isOpen == 3">
      <div class="row column" style="margin: 0;max-width: none;">
        <div class="column small-12 medium-4">
          <div class="label">History and Mission</div>
          <a href="http://www.southern.edu/about/">Mission Statement</a>
          <a href="http://www.southern.edu/about/history-and-mission/history.html">History</a>
          <a href="http://www.southern.edu/about/history-and-mission/accreditation.html">Accreditation</a>
          <a href="http://www.southern.edu/undergrad/campus-life/spiritual-life.html">Spiritual Life</a>
          <a href="http://www.southern.edu/about/quick-facts.html">Quick Facts</a>
          <a href="http://www.southern.edu/about/southernmission.html">Missions</a>
          <a href="http://www.southern.edu/about/administration/president/strategic-plan-goals/index.html">Strategic Plan</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Administration</div>
          <a href="http://www.southern.edu/about/administration/president/">President's Office</a>
          <a href="http://www.southern.edu/about/administration/president/cabinet.html">President's Cabinet</a>
          <a href="http://www.southern.edu/administration/academic-administration/index.html">Academic Administration</a>

          <div class="label">Visiting Southern</div>
          <a href="http://www.southern.edu/about/maps-and-directions/index.html">Travel Directions</a>
          <a href="http://www.southern.edu/about/maps-and-directions/index.html#lodging">Lodging</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Southern Affiliates</div>
          <a href="http://www.southern.edu/erc">Evangelistic Resource Center</a>
          <a href="http://www.southern.edu/archaeology">Lynn H. Wood Archaeological Museum</a>
          <a href="http://www.southern.edu/tmc">Teaching Materials Center</a>
          <a href="http://www.southern.edu/wellness">Hulsey Wellness Center</a>
          <a href="http://svadproductions.com/">SVAD Productions</a>
          <a href="http://www.southern.edu/academics/academic-sites/computing/circ.html">Center for Innovation and Research in Computing</a>
          <a href="http://villagemarketcollegedale.com/">Village Market</a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu_container">
    <div class="menu_clickable" ng-click="isOpen = 4;" ng-class="{ active : isOpen == 4 }">GIVE NOW</div>
    <div class="menu_content" ng-if="isOpen == 4">
      <div class="row column" style="margin: 0;max-width: none;">
        <div class="column small-12 medium-4">
          <div class="label">Giving Financially</div>
          <a href="https://community.e.southern.edu/pages/give-now">Donate Online</a>
          <a href="http://www.southern.edu/advancement/development/southernfund.html">Southern Annual Fund</a>
          <a href="http://www.southern.edu/advancement/development/namedscholarshipsandendowments.html">Scholarships and Endowments</a>
          <a href="http://southern.giftlegacy.com/">Future Gifts</a>
          <a href="http://www.southern.edu/advancement/plannedgiving/legacysociety.html">Legacy Society</a>
          <a href="http://www.southern.edu/advancement/development/givingsocieties.html">President's Circle of 100</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Giving Your Time</div>
          <a href="http://www.southern.edu/volunteer">Become a Lights Volunteer</a>
          <a href="http://www.southern.edu/academics/academic-sites/christianservice/faculty/communityservice.html">Community Service Day</a>
          <a href="http://www.southern.edu/administration/we-haul/">We-Haul</a>
        </div>

        <div class="column small-12 medium-4">
          <div class="label">Learn More</div>
          <a href="http://www.southern.edu/advancement/development/namedscholarshipsandendowments.html">Scholarship Stories</a>
          <a href="http://www.southern.edu/advancement/development/corporatefoundation.html">Corporation and Foundation Partnerships</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- on scroll -->

<div id="small_header" scroll-position="scroll" ng-class="{scrolling : scroll >= 183}" class="vertical">
  <img src="img/small_logo.png"/>
  <div class="right vertical">
    <div class="left_options hide-for-small-only">
      <a href="http://www.southern.edu/apply">APPLY</a>
      <a href="http://www.southern.edu/visit">VISIT</a>
      <a href="http://www.southern.edu/degrees">DEGREES</a>
    </div>

    <span class="hide-for-small-only">MAIN</span> MENU<i class="menu fa fa-bars" aria-hidden="true"></i>
  </div>
</div>
