<div id="ninth">
  <div class="row vertical">
    <div class="column small-12 medium-3 medium-offset-1 relative">
      <div class="invBox"></div>
      <img src="{{app.baseImgFolder}}img5-1.png"/>
    </div>
    <div class="column container small-12 medium-4">
      <div class="text">God has plans for you.</div>
      <div class="desc">At Southern Adventist University you can find how God’s purpose combines with your passions and dreams. Start your application  today!</div>
    </div>
    <div class="column small-12 medium-3">
      <div class="apply">APPLY<br>NOW</div>
    </div>
  </div>
</div>
