<div id="second">
  <div class="lineContainer row column vertical everything">
    <div class="line hide-for-small-only"></div>
    <div class="content">
      <a href="http://www.southern.edu/undergrad/#contact"><button class="request">REQUEST INFORMATION</button></a>
      <a href="http://www.southern.edu/visit"><button class="visit">VISIT CAMPUS</button></a>
    </div>
  </div>
  <div class="row small-up-1 medium-up-3">
    <div ng-repeat="i in app.secondSection" class="column hidden" when-visible="app.showElementUp">
      <div class="overflow">
        <img ng-src="{{app.baseImgFolder}}{{app.secondSection[$index]}}"/>
        <div class="text vertical">{{app.secondSectionText[$index]}}</div>
      </div>
    </div>
  </div>
</div>
