<div id="seventh" class="relative">
  <div class="column row spacing">
    <div class="text">LEARN <span class="major">MORE</span></div>
  </div>
  <div class="column row small-up-1 medium-up-4">
    <div class="column learnHolder" ng-repeat="i in app.seventhSection">
      <div class="hidden container" when-visible="app.showElement">
        <img ng-attr-src="{{app.baseImgFolder}}{{i}}"/>
        <div class="expand vertical" ng-if="app.seventhText[$index] != ''" style="background : {{app.seventhTextBG[$index]}}">
          {{app.seventhText[$index]}}
          <div class="expandDesc" ng-if="$index == 0">
            Don’t allow budgetary fears to keep you from learning more about the opportunity for a life-changing academic, social, and spiritual experience at Southern.
            <div>To learn more, visit <a href="http://southern.edu/finances">southern.edu/finances</a></div>
          </div>
          <div class="expandDesc" ng-if="$index == 5">
            There are three churches on campus—representing a variety of languages, service times, and worship styles—where you can be as involved as you want. Within 20-minute drive from campus there are approximately 30 churches that call the greater Chattanooga area home.
            <div><a style="color: #fada63;" href="http://www.southern.edu/undergrad/campus-life/spiritual-life.html">Find out more</a></div>
          </div>
          <div class="expandDesc" ng-if="$index == 7">
            We want you to be a part of this experience. Please come visit us and see for yourself what makes our campus so special.
            <div style="color: #DCC7DF;">Sign up for a visit today at <a style="color: #DCC7DF;" href="http://southern.edu/visit">southern.edu/visit</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
