<div id="seventh" class="relative">
  <div class="column row spacing">
    <div class="text">LEARN <span class="major">MORE</span></div>
  </div>
  <div class="row small-up-2 medium-up-4">
    <div class="column learnHolder" ng-repeat="i in app.seventhSection">
      <div class="hidden container" when-visible="app.showElement">
        <img ng-attr-src="{{app.baseImgFolder}}{{i}}"/>
        <div class="expand" ng-if="app.seventhText[$index] != ''" style="background : {{app.seventhTextBG[$index]}}">{{app.seventhText[$index]}}</div>
      </div>
    </div>
  </div>
</div>
