<div id="sixth">
  <div class="row small-up-1 medium-up-2">
    <div class="column rotate">
      <img class="hidden" ng-repeat="i in app.sixthSection" when-visible="app.showElementFlip" ng-attr-src="{{app.baseImgFolder}}{{i}}"/>
    </div>
    <div class="column container">
      <div class="text">CHANGE THE <span class="major">WORLD</span></div>
      <div class="words">
        Few phrases carry such weight. For some of you, “change the world” sounds daunting; others were born to challenge the status quo. For Southern students, those three words represent a promise: combine your passion with God’s purpose, and you can’t help but change the world!
      </div>
      <div class="small">SOUTHERN STUDENTS ARE CHANGING THE WORLD</div>
    </div>
  </div>
</div>
